In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from config import gkey


# baseurl = "https://api.census.gov/2015/acs/flows?get=GEOID2,GEOID1,MOVEDNET,MOVEDOUT,FULL2_NAME,FULL1_NAME&for=county:001&in=state:006&key="

In [11]:
read_csv = pd.read_csv(r'C:\Users\Satinder Bains\Desktop\zillow_output.csv')
read_csv.head(5)

,Unnamed: 0,County,2009 Median Price,2010 Median Price,2013 Median Price,2012 Median Price,2011 Median Price,2014 Median Price,2015 Median Price,2016 Median Price
0,0,2166,74200.0,79400.0,81400.0,74300.0,74100.0,84200.0,87000.0,89100.0
1,1,1694,146580.0,143443.0,131788.0,143796.0,141887.0,139045.0,139419.0,145444.0
2,2,1203,180900.0,166100.0,189800.0,164100.0,154400.0,197600.0,212100.0,236500.0
3,3,2200,80300.0,71300.0,67300.0,67300.0,68300.0,71300.0,76700.0,82100.0
4,4,108,170800.0,165000.0,194800.0,177500.0,164000.0,221900.0,257400.0,289100.0

In [15]:
the_new = read_csv[["County", '2009 Median Price','2010 Median Price','2011 Median Price','2012 Median Price', '2013 Median Price', '2014 Median Price', '2015 Median Price', '2016 Median Price']]
the_new.head()

,County,2009 Median Price,2010 Median Price,2011 Median Price,2012 Median Price,2013 Median Price,2014 Median Price,2015 Median Price,2016 Median Price
0,2166,74200.0,79400.0,74100.0,74300.0,81400.0,84200.0,87000.0,89100.0
1,1694,146580.0,143443.0,141887.0,143796.0,131788.0,139045.0,139419.0,145444.0
2,1203,180900.0,166100.0,154400.0,164100.0,189800.0,197600.0,212100.0,236500.0
3,2200,80300.0,71300.0,68300.0,67300.0,67300.0,71300.0,76700.0,82100.0
4,108,170800.0,165000.0,164000.0,177500.0,194800.0,221900.0,257400.0,289100.0

In [22]:
sum = the_new['2010 Difference'] = the_new["2010 Median Price"] - the_new["2009 Median Price"]

sum = the_new['2011 Difference'] = the_new["2011 Median Price"] - the_new["2010 Median Price"]

sum = the_new['2012 Difference'] = the_new["2012 Median Price"] - the_new["2011 Median Price"]

sum = the_new['2013 Difference'] = the_new["2013 Median Price"] - the_new["2012 Median Price"]

sum = the_new['2014 Difference'] = the_new["2014 Median Price"] - the_new["2013 Median Price"]

sum = the_new['2015 Difference'] = the_new["2015 Median Price"] - the_new["2014 Median Price"]

sum = the_new['2016 Difference'] = the_new["2016 Median Price"] - the_new["2015 Median Price"]

In [23]:
the_new.head()

,County,2009 Median Price,2010 Median Price,2011 Median Price,2012 Median Price,2013 Median Price,2014 Median Price,2015 Median Price,2016 Median Price,2010 Difference,2011 Difference,2012 Difference,2013 Difference,2014 Difference,2015 Difference,2016 Difference
0,2166,74200.0,79400.0,74100.0,74300.0,81400.0,84200.0,87000.0,89100.0,5200.0,-5300.0,200.0,7100.0,2800.0,2800.0,2100.0
1,1694,146580.0,143443.0,141887.0,143796.0,131788.0,139045.0,139419.0,145444.0,-3137.0,-1556.0,1909.0,-12008.0,7257.0,374.0,6025.0
2,1203,180900.0,166100.0,154400.0,164100.0,189800.0,197600.0,212100.0,236500.0,-14800.0,-11700.0,9700.0,25700.0,7800.0,14500.0,24400.0
3,2200,80300.0,71300.0,68300.0,67300.0,67300.0,71300.0,76700.0,82100.0,-9000.0,-3000.0,-1000.0,0.0,4000.0,5400.0,5400.0
4,108,170800.0,165000.0,164000.0,177500.0,194800.0,221900.0,257400.0,289100.0,-5800.0,-1000.0,13500.0,17300.0,27100.0,35500.0,31700.0

In [24]:
the_new.to_csv("./zillow_calc.csv")

In [38]:
the_new['2010 Percent Change']= (the_new['2010 Difference']/the_new['2009 Median Price'])*100

the_new['2011 Percent Change']= (the_new['2011 Difference']/the_new['2010 Median Price'])*100

the_new['2012 Percent Change']= (the_new['2012 Difference']/the_new['2011 Median Price'])*100

the_new['2013 Percent Change']= (the_new['2013 Difference']/the_new['2012 Median Price'])*100

the_new['2014 Percent Change']= (the_new['2014 Difference']/the_new['2013 Median Price'])*100

the_new['2015 Percent Change']= (the_new['2015 Difference']/the_new['2014 Median Price'])*100

the_new['2016 Percent Change']= (the_new['2016 Difference']/the_new['2015 Median Price'])*100

the_new.head()

,County,2009 Median Price,2010 Median Price,2011 Median Price,2012 Median Price,2013 Median Price,2014 Median Price,2015 Median Price,2016 Median Price,2010 Difference,...,2015 Difference,2016 Difference,perc,2010 Percent Change,2011 Percent Change,2012 Percent Change,2013 Percent Change,2014 Percent Change,2015 Percent Change,2016 Percent Change
0,2166,74200.0,79400.0,74100.0,74300.0,81400.0,84200.0,87000.0,89100.0,5200.0,...,2800.0,2100.0,14.269231,7.008086,-6.675063,0.269906,9.555855,3.439803,3.325416,2.413793
1,1694,146580.0,143443.0,141887.0,143796.0,131788.0,139045.0,139419.0,145444.0,-3137.0,...,374.0,6025.0,-46.726172,-2.140128,-1.084751,1.345437,-8.350719,5.506571,0.268978,4.321506
2,1203,180900.0,166100.0,154400.0,164100.0,189800.0,197600.0,212100.0,236500.0,-14800.0,...,14500.0,24400.0,-12.222973,-8.181316,-7.043949,6.282383,15.661182,4.109589,7.338057,11.504008
3,2200,80300.0,71300.0,68300.0,67300.0,67300.0,71300.0,76700.0,82100.0,-9000.0,...,5400.0,5400.0,-8.922222,-11.207970,-4.207574,-1.464129,0.000000,5.943536,7.573633,7.040417
4,108,170800.0,165000.0,164000.0,177500.0,194800.0,221900.0,257400.0,289100.0,-5800.0,...,35500.0,31700.0,-29.448276,-3.395785,-0.606061,8.231707,9.746479,13.911704,15.998197,12.315462

In [39]:
the_new.to_csv("./zillow_calc.csv")